/* RESET Y CARACTERÍSTICAS COMPARTIDAS */
*{
    margin:0;
    padding: 0;    
}

ul{
    list-style: none
}

a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}
h2{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-style: italic;
}
p{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: justify;
}
@media (max-width:610px){
    h1{
        font-size:30px;
    }
    h2{
        font-size: 18px;
    }
    p{
        font-size: 16px;
    }
}

/* BODY */
body {
    background-color: #E5E5E5 ;
}

/* Seccion header + menú mobile */
.mobile{
    display:none;
}

#menu {
    display:none;
}

.menu__mobile{
        display:none;
}

/* HEADER */

header{
    display: flex;
    position:fixed;
    z-index: 1;
    right:0;
    top:0;
    left: 0;
    background-color:#6D5799;
    background-image: url(imagenes/texturabanner5.png);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a img{
    justify-content:flex-start;
    margin-left: 5px;
    height: 70px;
    width: 58px;
}

header nav ul{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
}

header nav ul li{
    padding: 8px;
    margin-right: 15px; 
    border-radius: 8px;
}
header nav ul li:hover{
    font-weight:bold;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 1px 1px 5px black;
}
.header__nav__link{
    color:white;
}

 /* CELULARES O TABLETS PEQUEÑAS*/
@media screen and (max-width: 860px) {
    header{
        display:none;
    }
    .mobile{
        display:flex;
    }

    img.mobile#drip{
        display:block;
        position:absolute;
        top:-1rem;
        width: 100%;
        z-index: -1;
    }

    input#menu:checked ~ footer, input#menu:checked ~ main {
        display: none;
        transition: box-shadow 0.5s ease-in;
    } 

    input#menu:checked ~ .menu__mobile{
        display:flex;
        width: 100vw;
        height: 100vh;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        color: white;
        background: linear-gradient(to bottom, #6D5799, black);
        z-index: 2;
        transition: box-shadow 0.5s ease-in;
    }

    .menu__mobile ul li{
        padding: 1rem;
    }
    .menu__mobile label div i{
        display: block;
        font-size: 2rem;
        font-weight: light;
        color: white;
        z-index:1000;        
    }
    .menu__mobile label div {
        position: absolute;
        top: 2rem;
        left: 3rem;
        z-index: 999;
        height: 70px;
        width: 70px;
        border: none;
    }    
}

/* INDEX */
/* MAIN: Welcome screen */
main .index__page{
    margin-top: 110px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 45%;
    grid-template-areas: 
    "welcome"
    "about";
    align-content: space-between;
    height:1575px;
}
.main__welcome__logo{
    justify-content: space-evenly;
    align-items: center;
    grid-area: welcome;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 40 60;
    grid-template-areas: "logo brand";
    margin-bottom: 4rem;
    margin-top: 5rem;
}
.logo__img img{
    height: 80vh;
    grid-area: logo;
    object-fit: scale-down;
}

.welcome__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
    grid-area: brand;
}
.welcome__text h1{
    font-size:130px;
    font-family: 'Raleway', sans-serif;
    font-weight: light;
    text-align: center;
}
.wecolme__text h2{
    font-size:130px;
    text-align: center;
}


/* MAIN: About me */
.main__about__me{
    display:grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
    "heading img"
    "text img";
    align-items: center;
    grid-area:about; /* es item de otro grid area, pero a su vez tiene su grid area interna */
    height: 80vh; 
}

.main__about__me p{
    font-family: 'Raleway', sans-serif;
    grid-area: text;
    justify-self: stretch;
    margin-left: 5rem;
    margin-bottom: 3rem;
    justify-self: center;
    align-self: end;
}

.main__about__me h1{
    grid-area: heading;
    justify-self: start;
    margin-left: 5rem;
    margin-top: 1rem;
    justify-self: start;
    align-self: end;
}
.about__me__pic{
    grid-area: img;
    padding-top: 1.5rem;
    margin-bottom: 3rem;
    height: 50vh;
    justify-self: center;
    align-self: end;
}
.about__me__pic img{
    height: 100%;
    object-fit: scale-down;
}

/* TABLETS Y CELULARES */
@media screen and (max-width:860px){
    main .index__page{
        grid-template-rows: 1fr 1fr;
        align-content: space-between;
    }
    .main__welcome__logo{
        margin:-5px 0 1rem 0;
        grid-template-rows: 2fr 10px 1fr;
        grid-template-columns: 100%;
        grid-template-areas: 
        "logo"
        "."
        "brand";
        justify-items: center;
    }
    .main__welcome__logo .logo__img{
        height: 40%;
        margin-bottom: 1rem;
    }
    .main__welcome__logo .logo__img img{
        object-fit: scale-down;
        max-width: 80%;
    }

    .main__welcome__logo .welcome__text{
        margin-top: 1rem;
    }

    .main__about__me{
        margin:0;
        padding:0;
        display: flex;
        flex-direction: column;
        align-content:center;
    }

    
    .main__about__me p{
        margin:0;
        margin-bottom: 1rem;
        padding:0;
        max-width: 80%;
        justify-self: center;
        align-self: center;
    }

    .main__about__me h1{
        margin:0;
        margin-bottom: 1rem;
        padding:0;
        max-width: 80%;
        justify-self: center;
        align-self:center;
    }

    .about__me__pic{
        margin:0;
        padding:0;
        max-width: 40%;
        height:65%;
        margin-bottom: 4rem;

        justify-self: center;
        align-self: center;
    }

    .about__me__pic img{
        justify-self: center;
        align-self: center;
    }

}




/* PORTFOLIO */
.portfolio__page{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,auto);
    grid-template-areas:
    "portfolio"
    "social"
    "art"
    "fx";
    justify-items: center;
    align-items: end;
}
.makeup_section#m_social{
    grid-area:social;
   
}
.makeup_section#m_artístico{
    grid-area:art;
}
.makeup_section#m_fx{ 
    grid-area:fx;
    /* no se por qué sería necesario este estilo */
    /* si para los otros 2 no lo necesite y no encuentro porque a este solo le aplica otro distinto */
    display: block;
    width: 100%;
}
.portfolio__main{
    grid-area:portfolio;
    width:90%;
    margin-top:6rem;
    margin-bottom: 2rem;
}
.makeup_section{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width:90%;
    margin: 1rem 0 1rem 0;
}
.makeup_section section{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.makeup_section h2{
    font-weight: bold;
    padding: 5px;
    background-color: #9E94B5;
}
.makeup_section p{
    margin: 3px;
}
.makeup_section section img {
    height: 40vh;
    width: auto;
    padding: 2px;
}

@media screen and (max-width:860px){
    .portfolio__page{
        margin-top:10rem;
    }

    .makeup_section section img {
        height: auto;
        width: 75vw;
        padding: 2px;
    }
    .makeup_section section {
        align-items: center;
    }

}

/* CURSOS */
.courses__page{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
    "curso1"
    "curso2"
    "curso3";
    margin-top: 5rem;
}

#curso1{
    grid-area: curso1;
}
#curso2{
    grid-area: curso2;
}
#curso3{
    grid-area: curso3;
}

.curso{
    display:grid;
    grid-template-columns:0.1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img titulo"
    "img texto";
    padding:3rem 1rem 3rem 1rem;

}

.curso h1{
    grid-area:titulo;
    align-self: end;
    background-color:#9783BE;
    color: white; 
    text-shadow: black 0.2rem 0.2rem 0.2rem;
    display:inline;
    padding:0.5rem 1rem;
    padding-left: 5rem;
}

.curso div{
    grid-area:texto;
    align-self: start;
    margin-left: 3rem; 
}

.curso div p{
    margin: 10px 1px;
}

.curso img{
    grid-area:img;
    height:40vh;
    width:auto;
    justify-self:end;
    position:relative;
    right:-2rem;
}
@media screen and (max-width:860px){
    .courses__page{
        margin-top:20rem;
    }
}



/* SERVICIOS */
.services__page{
    display:grid;
    grid-template-rows: repeat(2,500px);
    grid-template-areas:
    "serv"
    "viat";
    justify-content: space-around;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    row-gap: 0;
}
.services_explanation{
    grid-area:serv;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
    "heading img"
    "text img";
    align-content: end;
}

.services_explanation h1{
    grid-area:heading;
    margin-top: 10rem;
}

.services_explanation div{
    grid-area:text;
    width: 100%
}

.services_explanation img{
    grid-area:img;
    position: relative;
    top:3rem;
}

.viaticos{
    grid-area:viat;
    display:grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "heading."
    "text table";
    align-content: center;
    width: 90%;
}

.viaticos h1{
    grid-area: heading;
    margin-right: 5rem;
    align-self: end;
    justify-self: start;
}

.viaticos .text{
    grid-area:text;
    margin-right: 5rem;
    width: 80%;
}

.viaticos .table{
    grid-area: table;
    justify-self: stretch;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,2.1rem);
    row-gap: 1px;
}
.viaticos .table .zona, .viaticos .table .headers{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 8px;
    width: 80%;
}

.viaticos .table .zona{
    text-align:center;
}

.viaticos .table .headers p{
    background-color: #9E94B5;
    color:White;
    padding-left: 1rem;
    align-self: center;
    text-align: left;
    filter: drop-shadow(1px 4px 2px grey);
}

.viaticos .table .zona p{
    background-color: white;
    text-align:center;
    filter: drop-shadow(1px 4px 2px grey);
}

@media screen and (max-width:860px){
    .services__page{
        min-height: 1500px;
        width:90%
    }
    .services_explanation{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .services_explanation h1{
        margin-top: 50rem;
        align-self: start;
    }
    .services_explanation img{
        align-self:center;
        top:0;
    }
    .viaticos{
        width: 100%;
        margin-top: 50rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .viaticos h1{
        margin: 10px 0;
        position: relative;
        left:-2rem;
        width: 90%;
    }

    .viaticos .text{
        margin: 5px 0;
        width: 90%;
    }

    .viaticos .table{
        margin: 5px 0;
        width: 90%;
    }
}


/* CONTACTO */

.contact__page{
    padding: 0;
    max-width: 100vw;
    min-height: 70vh;
    overflow:hidden;
    display:grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 2fr 1.5fr 3fr;
    justify-content: space-around;
    grid-template-areas:
    " . tittle . brushimg"
    " . form .  brushimg";
    gap: 0 1px;
}

.contact__page h1{
    grid-area:tittle;
    margin-top: 8rem;
    justify-self: start;
    align-self:start;
}

.contact__page form{
    display:flex;
    flex-direction: column;
    grid-area: form;
    justify-content:flex-start;
}

input, textarea{
    width:100%;
    margin: 3px 0 4px 0;
    padding:10px;
    border:1px solid #626262;
    border-radius:10px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    resize: none;
    background-color: transparent;
}
textarea{
    height: 10rem;
}

form button{
    position:relative;
    float:right;
    left: 1.3rem;
    border: 1px solid #6D5799;
    border-radius: 8px;
    color: #6D5799;
    font-size:1.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    padding: 8px 20px;
    text-shadow: 0 -1px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    margin: 4px 0 0 0;
    cursor: pointer;
    background-color: transparent;
}

.contact__page .brush__img{
    position: absolute;
    right:0;
    top: 40px;
    z-index: -1;
    max-height: 85%;
    grid-area: brushimg;
}

@media screen and (max-width:860px){
    .contact__page .brush__img{
        display:none;
    }

    .contact__page{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: 
        "tittle"
        "form";
        padding: 15rem 5rem 0 5rem;
    }
   
}
@media screen and (max-width:670px){

    .contact__page{
        padding-top: 8rem;

    }

    form button{
        margin-bottom: 2rem;
    }
   
}


/* FOOTER */
footer{
    background-color: #6D5799;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0 30px 0 30px;
    position: relative;
    left:0;
    right:0;
    bottom:0;
    margin-top: 1rem;

}

.footer__text{
    font-weight: semibold;
    font-size: 0.5rem;
    color: white;
}

footer .mobile {
    display:none;
}


@media screen and (max-width:860px){
    footer{
        position: sticky;
        bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        padding-bottom: 0;
    }
    .footer__text{
        display:none;
    }
    footer .mobile{
        display:block;
    }
    footer #footer__text{
        font-weight: semibold;
        font-size: 0.7rem;
        color: white;
    }
    footer label div {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        background-color: #554478;
        position: relative;
        top:-28px;
        border: none;
        filter: drop-shadow(0px 4px 4px black);
        display: flex;
        align-items:center;
        justify-content:center;
    }
    
    footer label div i{
        font-size: 2.5rem;
        font-weight: 50;
        color: white;
    }
}

@media screen and (max-width:435px){
    footer{
        flex-direction: column;
        align-items:center;
    }
    footer section p{
        display:none;
    }
    footer label div, footer .footer__media {
        margin:0;
        padding: 0;
    }
    footer .footer__media a img{
        height:35px;
    }


}